<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    </link>
</head>

<body>
    <h1>All Trainers in the region:</h1>
    <div class="trainer-card-container">
        <% trainers.forEach(trainer=>{%>
            <a href="../../trainers/<%=trainer.trainer_id%>">
                <div class="trainer-card">
                    <h3>
                        <%=trainer.name%>
                    </h3>
                </div>
            </a>
            <%})%>

    </div>

</body>

</html>